<% content_for :page_title, "Contacts" %>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 devise-box">
        <h2>Contacts</h2>

        <%= simple_form_for @form, url: contacts_path  do |f| %>

            <%= f.input :name %>
            <%= f.input :email %>
            <%= f.input :phone %>
            <%= f.input :message, as: :text, input_html: { rows: 6 } %>

            <%= f.button :submit, "Send", class: 'btn-primary' %>

        <% end %>
    </div>
</div>
